.post-v2  .comment > .content{
    padding: 10px 10px 10px 10px;
}
.post-v2 .comment{
    margin-left: 55px;
}
.post-v2 .title{
    text-align : center;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}