<div class="comments">

    <div class="comment-number">
        {{comments.length}} commentaire(s)
        <button ng-click="toggle()">{{ show ? 'hide' : 'show'}}</button>
    </div>

    <div ng-if="show" ng-repeat="comment in comments" class="comment">

        <div class="content">{{ comment.content }}</div>

        <display-comments-v2
                ng-if="comment.comments.length > 0"
                comments="comment.comments"
                >
        </display-comments-v2>

    </div>
</div>