.post-v3 .title{
    text-align : center;
    font-size: 3em;
}
.post-v3 .post-content{
    background-color: lightgray;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
}
.post-v3 > .comments > .comment-container > .comment {
    margin-left :0px !important;
}

.post-v3 > .comments {
    width:100%;
    overflow-x:auto;
}