<div class="comments">

    <div class="comment-number" >
        {{comments.length}} commentaire(s)
        <button
                ng-click="toggle()"
                ng-keyup="showHide($event)"
                >{{ show ? 'hide' : 'show'}}</button>
    </div>

    <div class="comment-container">

        <button ng-if="show" ng-click="toggle()" class="back">BACK</button>
        <div ng-if="show" ng-repeat="comment in comments" class="comment">
            <div class="content"><b>{{comment.name}} :</b> {{ comment.content }}</div>

            <display-comments-v3
                    ng-if="comment.comments.length > 0"
                    comments="comment.comments"
                    >
            </display-comments-v3>
        </div>
    </div>

</div>